body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
  padding-left: 152px;
  padding-right: 152px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  margin: 0;
  margin-left: 8px;
  font-size: 38px;
  line-height: 44px;
  color: #274C5B;
  font-weight: 700;
  text-decoration: none;
}

.links {
  display: flex;
  margin-left: 80px;
}

.links a {
  justify-content: space-between;
  font-size: 20px;
  line-height: 23px;
  color: #274C5B;
  margin: 0;
  margin-right: 50px;
  text-decoration: none;
}

.news-button {
  margin-right: 0;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 130px;
}

.search-bar {
  background-color: #FAFAFA;
  width: 376px;
  height: 66px;
  border: none;
  border-radius: 36px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  background-color: #7EB693;
  width: 56px;
  height: 56px;
  border-radius: 80px;
}

.cart {
  display: flex;
  align-items: center;
  width: 159px;
  height: 66px;
  border-color: #E0E0E0;
  border-style: solid;
  border-width: 1px;
  border-radius: 36px;
  margin-left: 18px;
}

.cart p {
  font-size: 18px;
  color: #274C5B;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: #274C5B;
  border-radius: 36px;
  margin-left: 6px;
  margin-right: 12px;
}

.banner {
  position: relative;
}

.banner-image {
  width: 1899px;
}

.banner-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1235px;
  background-color: white;
  padding: 76px 82px 76px 82px;
  border-radius: 30px;
  border-radius: 20px;
  bottom: -217px;
  left: 260px;
  box-shadow: -4px 8px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.posted-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 387px;
  font-size: 18px;
  line-height: 21.09px;
  color: #274C5B;
  margin-bottom: 20px;
}

.posted-time p {
  margin: 0;
}

.posted-time span {
  font-weight: 800
}

.banner-text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 29.77px;
  color: #525C60;
  margin-top: 20;
  width: 726px;
}

.title {
  font-size: 70px;
  font-weight: 800;
  color: #274C5B;
  margin: 0;
}

.text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 29.77px;
  color: #525C60;
  margin-bottom: 30px;
  margin-top: 0;
}

.content {
  margin: 285px 491px 0px 492px;
}

ul,
ol {
  padding-left: 30px;
}

.quote {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: #274C5B;
  background-color: #F1EDEA;
  padding: 69px 59px 69px 59px;
  border-radius: 30px;
}

.content-title {
  font-size: 35px;
  font-weight: 800;
  color: #274C5B;
  margin-top: 30px;
  margin-bottom: 24px;
}

.content-title-1 {
  font-size: 50px;
  font-weight: 800;
  color: #274C5B;
  margin-top: 30px;
  margin-bottom: 24px;
}

.newslatter {
  background-image: url(../images/distribution.jpg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
  margin-left: 260px;
  margin-right: 260px;
  margin-bottom: 117px;
  border-radius: 25px;
  width: 1400px;
  height: 323px;
}

.newslatter-title {
  font-size: 50px;
  font-weight: 800;
  line-height: 58.59px;
  color: white;
  width: 357px;
  margin: 0;
  margin-left: 71px;
}

.right-section {
  display: flex;
}

.email-address {
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  padding: 28px 130px 31px 23px;
  border-radius: 16px;
  border: none;
  margin-right: 6px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;  
  background-color: #274C5B;
  border: none;
  border-radius: 16px;
  padding: 28px;
  padding-left: 64px;
  padding-right: 64px;
  margin-right: 71px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 92px;
  position: relative;
  margin-bottom: 102px;
}

.footer-hr-1 {
  position: absolute;
  left: 627px;
  height: 336px;
  border-style: solid;
  color: #D4D4D4;
  border-width: 1px;
}

.footer-hr-2 {
  position: absolute;
  right: 627px;
  height: 336px;
  border-style: solid;
  color: #D4D4D4;
  border-width: 1px;
}

.contact-section {
  text-align: right;
  font-size: 18px;
  line-height: 29.7px;
  font-family: Open Sans;
  color: #525C60;
  font-weight: 700;
}

.contact-section li {
  margin-top: 24px;
}

.contact-section span {
  font-weight: 400;
}

.main-section {
  text-align: center;
}

.main-section-info {
  margin: 0;
  margin-bottom: 49px;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 29.77px;
  color: #525C60;
}

.utility-pages-section li,
.utility-pages-section li a {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 49px;
  color: #525C60;
  text-decoration: none;
}

.footer-li {
  list-style: none;
}

.footer-ul {
  margin: 0;
  padding: 0;
}

.footer-titles-1 {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  color: #274C5B;
}


.footer-titles-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 23px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  color: #274C5B;
}

.footer-titles-2 p {
  margin: 0;
  margin-left: 8px;
}

.footer-titles-3 {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 24px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  color: #274C5B;
}

.copyright-hr {
  color: #D4D4D4;
  margin: 0px;
}

.copyright {
  margin-top: 17px;
  margin-bottom: 16px;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 29.77px;
  text-align: center;
  color: #525C60;
}

.copyright span {
  font-weight: 700;
}